    <div class="row">
        <div class="col-md-3">
            <div class="jobsite_form" >
                <%= render "form" %> <%# Add/Edit Job Form %>
            </div>
        </div>

        <div class="col-md-9">
            <div class="jobsite_form">
                <h2 id="form_header"><%= @jobsite.name %></h2> 
                <%= render partial: "site_employees", locals: {jobsite: @jobsite, view_by: 'jobs', editable: true} %>
            </div>
        </div>
    </div>
