
<table class="table table-condensed">
    <thead>
        <tr>
            <% if editable %>
                <th style="text-align: center;" width=20px></th>
            <% end %>
            <th style="text-align: left;" width=200px>Employee Name</th>
            <th style="text-align: left;" padding-left=10px;>Title</th>
            <% case view_by %>
            <% when 'none' %>
            <% when 'hours','hour' %>
                <th style="text-align: center;" width=80px>REG</th>
                <th style="text-align: center;" width=80px>OT</th>
                <th style="text-align: center;" width=80px>DT</th>
                <th style="text-align: center;" width=80px>Total</th>
            <% when 'jobs','job' %>
                <% @jobsite.jobs.each do |job| %>
                    <th style="text-align: center;" width=80px><%= job.job_number %></th>
                <% end %>
            <% else %>
                <th style="text-align: center;" width=200px>Else Statement</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
    <%# binding.pry %>
        <% @jobsite.employees.each do |employee| %>
            <tr>
                <% if editable %>
                    <th style="text-align: center;" width=20px></th>
                <% end %>
                <td style="text-align: left;" width=200px><%= employee.full_name %></td>
                <td style="text-align: left;" padding-left=10px><%= employee.title %></td>
                <% case view_by %>
                <% when 'none' %>
                <% when 'hours' %>
                    <td style="text-align: center;" width=80px>0</td>
                    <td style="text-align: center;" width=80px>-</td>
                    <td style="text-align: center;" width=80px>-</td>
                    <td style="text-align: center;" width=80px>0.00</td>
                <% when 'jobs' %>
                    <% @jobsite.jobs.each do |job| %>
                        <td style="text-align: center;" width=80px>0</td>
                    <% end %>
                <% else %>
                    <td style="text-align: center;" width=200px>Did NOT hit 'hour' or 'jobs'!</td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
    <% if view_by != 'none' %>
        <tfoot>
            
        </tfoot>
    <% end %>

</table>
