<div  id = "form">
    <h2>Add Task</h2>
    <form action="/task/new" method="post">
        <%# <input id="hidden" type="hidden" name="_method" value="patch"> %>
        <table width=50% style="text-align: left;">
            <tr>
                <th>Code</th>
                <th>Description</th>
            </tr>
            <tr>  
                <td style="text-align: left;" width=60px ><input width=60px type="text" name="task[code]"  maxlength="3"  required></td> 
                <td style="text-align: left;" width=200px ><input width=100% type="text" name="task[name]" required></td>
            </tr>            
        </table>
        <br>
        <input type="submit" value="Add Task">
        <input type="hidden" name="jobsite_id" value=<%=@jobsite.id%>> 
    </form>
</div>