
    <div class="form-sect search">
    <div class="form-label">Search Employee</div>
        <%= form_tag(admin_employees_path, method: :get) do %>
            <%= text_field_tag(:search) %>
            <%= submit_tag ("Search") %>
        <% end %>
    </div>
