<ul class="nav nav-tabs">

    <% if current_section != 'Time_Entry' %>
        <li role="presentation" class=<%=active_button('index')%>>
            <%= link_to 'Info', "/jobsite/#{@jobsite.id}/#{current_section.downcase}"%>
        </li>
    <% end %>

    <% nav.map do |btn| %>
        <% label = btn.remove('by_').capitalize %>
            <li role="presentation" class=<%=active_button(btn)%>>
                <%= link_to label, "/jobsite/#{@jobsite.id}/#{current_section.downcase}/#{ current_section =='Time_Entry' ? 'by_day' : btn}"%>
            </li>
    <% end %>
</ul>