<h2 id="sub_header">
    My Jobsites
    <button  class="subheader_button"><a href="/jobsites">Back</a></button>
</h2>

<div id="form">
    <h2>Add Jobsite </h2>
        <form action="/jobsite/new" method="POST">
            <label>New site name: </label><input type="text" name="jobsite[name]" required>
            <input type="submit" value="+">
        </form><br><br>
        <% if @current_user.jobsites.size > 0 %>
            <div id="display_list">   
                <h2>My Jobsites</h2> 
                <table>
                    <% @current_user.jobsites.each do |jobsite|%>
                        <tr>
                            <td  style="width:1%" ><button><a href="/jobsite/delete/<%= jobsite.id %>">X</a></button></td>
                            <td  style="width:1%" ><button><a href="/jobsite/edit/<%= jobsite.id %>">...</a></button></td>
                            <td padding-left=10px; style="text-align:left;"><%=jobsite.name%></td>
                        </tr>
                    <%end%>
                </table>
            </div>
        <%end%>
</div>
