
    <div class="sect-bkgrnd">
        <div class="sect-header"> Jobs
            <button class="sect-btn"><%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-chevron-down"),jobsite_jobs_path(@jobsite)) %></button>
        </div> 
    </div>

    <div class="sect-bkgrnd"> 
        <div class="sect-header"> Employees
            <button class="sect-btn"><span class="glyphicon glyphicon-chevron-down"></span></button>
        </div> 
    </div>

    <div class="sect-bkgrnd"> 
        <div class="sect-header"> Time Entry
            <button class="sect-btn"><span class="glyphicon glyphicon-chevron-down"></span></button>
        </div> 
    </div>
