<div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @jobsite.name %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <% @current_user.jobsites.each do |j| %>
            <li><%= link_to j.name, jobsite_path(j) %></li>
        <% end %>
    </ul>
</div>

<div>

</div>