
 <button class="edit-btn"><%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-plus")+ ' Add Job',new_jobsite_job_path(@jobsite)) %></button>

<button class="edit-btn"><%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-plus")+ ' Add Area',jobsite_new_job_area_path(@jobsite)) %></button>
