<div class="row">
    <div class="col-md-3">
        <div class="jobsite_form" >
            <%= render "form" %> <%# Add/Edit Job Form %>
        </div>

        <div class="jobsite_form" >
            <%= render "form_area" %> <%# Add/Edit Areas Form %>
        </div>
    </div>
    <div class="col-md-9">
    <div class="jobsite_form">
        <h2 id="form_header">Jobs</h2> 
            <div class="container-fluid">
                <button class="btn btn-primary btn-sm"> Hours </button>
                <button class="btn btn-primary btn-sm"> Employees </button>
            </div>
        <%= render_jobs_table(customers: false, areas: true) %>
    </div>
    </div>
</div>