<div>
    <div class="form-header">New Job
    <button class="close-btn"><%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-remove"),jobsite_jobs_path(@jobsite)) %></button>
    </div>
    <%= form_with model: @job, url: jobsite_job_index_path(@jobsite) do |f| %>
        <%= render partial: 'form', locals: {jobsite: @jobsite, job: @job, f: f} %>
    <% end %>
</div>