<div>
    <div class="form-header">New Jobsite Area
        <button class="close-btn"><%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-remove"),jobsite_jobs_path(@jobsite)) %></button>
    </div>
    <%= render 'form_area' %>
</div>
