<%= render partial: "jobsites/collection_table", locals: {jobsite: @jobsite, collection: @jobsite.jobs, view_by: table_view_by, show: 'jobs', editable: true, customer: show_customer, job_areas: true} %>

<div>
    <div class="form-header">New Jobsite Area
        <button class="close-btn"><%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-remove"),jobsite_jobs_path(@jobsite)) %></button>
    </div>
    <%= render 'form_area' %>
</div>
