  
<div id="display_list">
    <input type="hidden" value=<%= @sub_days.to_i %> name="weekday">
    <input type="hidden" id="day_index" value=<%=@sub_days.to_i%>>


    <h1 style="color: red;"> More to come with javascript </h1>

</div>
