    <div  id = "form">
    <h2>Delete Employee</h2>
    <h4> Are you sure you want to delete this employee? <br> All associated records for this employee will be deleted </h4> <br>
    <form action="/employee/delete/<%=@employee.id%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">

               <h3 style="color:red;"> <%=@employee.full_name%> </h3>

        <input type="hidden" name="employee_id" value=<%=@employee.id%>> 
        <input type="hidden" name="jobsite_id" value=<%=@jobsite.id%>>
        <br><input type="submit" value="Delete">
    </form>
    </div>