header{
    width: 100%;
    height: fit-content;
    top:0;
    position: fixed;
    z-index: 1;
    border-bottom: solid 1px black;
    text-align: left;
    background-color: rgb(95, 94, 94);
    box-shadow: 0px 8px 16px 0px rgba(1, 17, 17, 0.5);
  } 

.header-name{
    text-align: right;
    position: absolute;
    top: 0;
    padding: 10px;
    color: white;
    width: inherit;
  } 

.breadcrumb {
  background-color: transparent;
  }

.page_header {
  text-align: left;
  position: absolute;
  top: 10px;
  left: 125px;
  padding: 10px;
  color: white;
  width: inherit;
  height: fit-content;
  font-size: larger;
  padding: 5px;
  }

.page_header a {
  color: white;
}

.dropbtn {
  background-color: rgba(68, 68, 68,.40);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #d4d3d3;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}


.dropdown-item {
  color: black;
  background-color: lightcoral;
  padding: 5px;
  text-decoration: none;
  display: contents;
  font-size: large;
}

.dropdown-item a {
  background-color: transparent;
}


.dropdown-content .button_to input {
  color: darkblue;
  background-color: transparent;
  font-style: italic;
  border: none;
  display: block;
}

