body{
  background-image: url(benz.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.horiz {
  display:inline-flex;
}
.center {
  margin: auto;
  width: 99.9%;
}

.wrapper {
  margin-top: 70px;
}

.tbl-header {
  background-color: white;
  font-weight: 600;
  border-bottom: 2px double rgba(65, 64, 64, 0.3);
}


.active {
  font-weight: 600;
}

.jobsite-name {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}
.page-date {
  float: right;
  font-size: 20px;
  font-weight: 300;
  margin-top: 15px;
}

.jobsite-card {
  background:rgb(225, 230, 236);
  border: 1px solid rgba(0,0,0,.3);
  box-shadow: 5px 5px 5px rgba(0,0,0,.3);
  min-width: 150px;
  max-width: 350px;
  min-height: 225px;
  max-height: fit-content;
  padding: 15px;
  margin: 10px;
  text-align: left;
}

.card-title {
  font-size: 24px;
  line-height: 30px;
  word-wrap: break-word;
  padding-right: 5px;
  
}


.card-edit {
  font-size: 12px;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-address {
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  line-height: 20px;
  padding: auto;
  text-align: left;
  font-style: italic;
}

.card-category { 
  font-size: 20px;
  line-height: 28px;
  margin-top: 5px;
  padding-left: 10px;
  text-align: left;
  font-weight: 500;
}

.card-subcategory {
  font-size: 16px;
  padding-left: 25px;
  text-align: left;
  padding-top: 3px;
}


.sect-bkgrnd{
  background: rgba(244, 242, 242, 0.9);
  border: 1px solid rgba(0,0,0,.3);
  box-shadow: 5px 5px 5px rgba(0,0,0,.3);
  margin-bottom: 10px;
  text-align: left;
}

.sect-header {
  background:rgba(179, 179, 179, 0.3);
  border-bottom: 1px solid rgba(0,0,0,.3);
  padding: 5px 2px 5px 10px;
  font-size: 24px;
}

.sect-btn {
  background: transparent;
  border: none;
  text-align: right;
  position: relative;
  top: 0px;
  right: 0px;
  float: right;
}

.edit-btn {
  margin: 10px;
  width: fit-content;
}

.sub-btn {
  margin-bottom: 4px;
}

.ok-btn {
  margin-bottom: 10px;
  color: darkgreen;
}

.remove-btn {
  border: none;
  background-color: transparent;
  color: darkred;
}

.delete {
  color: darkred;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  height: fit-content;
}

.delete_jobs {
  vertical-align: bottom;
}


.close-btn {
  float: right;
  border: none;
  background: transparent;
  color: red;
}

.form-header {
  border-top: 1px solid rgba(179, 179, 179, 0.3);
  border-bottom: 2px double rgba(65, 64, 64, 0.3);
  background:white;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-sub-header {
  border-top: 1px solid rgba(179, 179, 179, 0.3);
  border-bottom: 2px double rgba(65, 64, 64, 0.3);
  background:rgb(203, 229, 245);
  padding: 10px;
  font-size: large;
  font-weight: 600;
  margin-bottom: 0px;
}

.trans-sm {
  background: transparent;
  margin-bottom: 5px;
  border: none;
}

.form-label {
  font-weight: bold;
}

.form-checkbox label{
  margin-left: 5px;
  margin-right: 10px;
}

