    <div class="form-sub-header"><%= link_to('Add Jobsite', new_admin_jobsite_path) %>
        <button class="close-btn">
            <%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-plus"), new_admin_jobsite_path) %>
        </button>
    </div>

    