<div>
    <div class="form-header">New Jobsite
        <button class="close-btn">
            <%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-remove"),admin_employees_path) %>
        </button>
    </div>

    <div class="form-sect">
        <%= form_with model: @jobsite, url: admin_jobsites_path do |f| %>
            <%= render partial: 'form', locals: {jobsite: @jobsite, f: f} %>
        <% end %>
    </div>

</div>