<h1 style="text-align:center;">Welcome</h1>
<div id="form">
    <h2 style="text-align:center;">You currently do not have access to this information</h2>
    <h4> Please login or signup to continue</h4>
    <br>
    <button><a href="/login">Login</a></button>
    <button><a href="/signup">Signup</a></button>
</div>