<div class="dropdown">
    <button type="button" class="btn btn-default dropdown-toggle dropbtn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Menu</span>
    </button>
  <ul class="dropdown-menu dropdown-content">
    <li class="dropdown-item"><%= link_to "Jobsites", jobsites_path %></li>
    <li class="dropdown-item"><%= link_to "Admin", admin_employees_path if @current_user.admin %></li>
    <li class="dropdown-item"><%= content_tag(:a, button_to('Log Out', signout_path), class: "logout_button dropdown-item") %></li>
  </ul>
</div>


<div class="page_header"> 
    Field Jobsite App
</div>

<% if @current_user %>
<div class="header-name"><%= header_user %></div>
<% end %>

