
      <div class="dropdown" width="150px" >
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content" style="left:0;">
          <%= header_links %>
        </div>
      </div>
      <div class="pull-right"> <%= header_right %></div>
